@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us!";
}
<h2>@ViewData["Title"]</h2>

<address>
    5500 Campanile Drive<br />
    San Diego, CA 92182<br />
    <abbr title="Phone">P:</abbr>
    867-5309
</address>

<address>
    <strong>Anna Gabriela Reed:</strong> <a href="mailto:annagabrielareed@gmail.com">annagabrielareed@gmail.com</a><br />
    <strong>Michael Baker:</strong> <a href="mailto:bakermd85@gmail.com">bakermd85@gmail.com</a><br />
    <strong>Raffy Guiao:</strong> <a href="mailto:raffy.guiao@gmail.com">raffy.guiao@gmail.com</a>
</address>
