@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Pothole Tracker</h1>
</div>
<div class="row">
    <div class="col-md-9">
        <h2>Welcome to the San Diego Pothole Tracker</h2>
        <p>
            This web application is used to track the potholes located around our wonderful city of San Diego. As citizens
            of San Diego, we care about our streets and want to make sure our town is as beautiful as it can be.
        </p>
        <p>
            For our Senior Design Project, we created a Pothole Detection system that utilizes LiDAR sensors and the
            OpenMV camera. Upon detection, the system will save the latitude and longitude coordinates at that location.
            We wanted to create this website to work in harmony with that system, where we can document the potholes that
            would be found using that system into one convenient location.
        </p>
        <p>
            The end user of this application is the City of San Diego, so that they have one data base available to them
            where they can located the potholes around the city. Using the images of the potholes, they can see which ones
            are of the highest priority to fix. We also wanted to include a forum in this web application where residents/users
            can document potholes that perhaps our project design did not see yet. Regular users can add the pictures and location
            of their pothole, but only the City/admin can delete the instance of a pothole (ideally after it has been fixed).
        </p>
    </div>
    <div class="col-md-3">
        <h2>The Developers</h2>
        <p>
            The team who built this website consists of <strong>Anna Reed, Michael Baker,</strong> and <strong>Raffy Guiao</strong>.
            We are all Seniors graduating this May of 2018. We look forward to completing finals and starting our full-time
            post-graduate careers!
        </p>
        <p>If you have any questions for us, please refer to the contact page and reach out to us!</p>
    </div>
</div>